*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Sofia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: black;
    overflow-x: hidden;
}

.red{
    color:#F54748;
}

.yellow{
    color:#FDC55E;
}

.small{
    font-size: 8px;
}

:root{
    --container_width: 1298px;
    --container_padding: 62px;
}

.container{
    width: calc(var(--container_width) + var(--container_padding) * 2);
    padding: 0 var(--container_padding);
    margin-left: auto;
    margin-right: auto;
}

.header{
    position: relative;
    padding-top: 34px;
    background-image: url("../img/bg_header.png");
    background-size: cover;
    background-repeat: no-repeat;

   }

.header::after{
    position: absolute;
    top: 565px;
    left: 1339px;
    content: "";
    background-image: url("../img/Mint.png");
    width: 133px;
    height: 91px;
}

.header::before{
    position: absolute;
    top: 260px;
    left: 585px;
    content: "";
    background-image: url("../img/Orange.png");
    width: 87px;
    height: 78px;
}

.header__logo{
    width: 121px;
    height: 78px;
}


.header__menu::after{
    position: absolute;
    top: 57px;
    left: 148px;
    content: "";
    background-image: url("../img/Arrow_1.png");
    width: 149px;
    height: 159px;
}

.header__menu::before{
    position: absolute;
    top: 100px;
    left: 1185px;
    content: "";
    background-image: url("../img/Arrow_2.png");
    width: 127px;
    height: 342px;
}

.header__menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    z-index: 1;
}

.menu{
    display: flex;
    align-items: center;
    column-gap: 97px;
    font-family: 'Sofia_pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.menu__nav{
    display: flex;
    list-style: none;
    column-gap: 50px;
}

.nav__link{
    text-decoration: none;
    color: black;
}

.menu__btn{
    position: relative;
    color: white;
    background-color: #F54748;
    border-radius: 100px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    line-height: 24.5px;
    margin-right: -10px;

    font-family: 'Sofia_pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.pictures__stripes{
    position: absolute;
    top: -150px;
    left: 380px;
    z-index: 0;
    pointer-events: none;
}

.header__preview{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 35px;
}

.about__like{
    position: relative;
    text-decoration: none;
    font-family:"inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
    background-color: rgba(245, 71, 72, 0.1);
    border-radius: 100px;
    padding: 6px 5px 6px 32px;
    line-height: 17px;
    margin-left: 5px;
}

.about__like::after{
    position: absolute;
    content: "";
    background-image: url("../img/like.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    left: 5px;
    top: 4px;
}

.preview__about{
    padding-right: 106px;
    margin-top: 62px;
}

.about__slogan{
    position: relative;

    margin-top: 16px;

    font-weight: 900;
    font-size: 58px;
    line-height: 79px;
}

.underline::after{
    position: absolute;
    content: "";
    background-image: url("../img/underline.svg");
    background-repeat: no-repeat;
    width: 263px;
    height: 9px;
    left: 207px;
    top: 156px;
}

.about__workers{
    margin-top: 31px;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.01em;
    color: #191919;
    opacity: 0.8;
}

.about__form{
    position: relative;
}

.form__input{
    position: relative;
    font-size: 18px;
    width: 471px;
    height: 55px;
    margin-top: 28px;
    border-radius: 100px;
    font-family: 'Sofia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding-left: 47px;
}

.form__label::after{
    position: absolute;
    top: 46px;
    left: 16px;
    content: "";
    background-image: url("../img/search_icon_b.svg");
    width: 18px;
    height: 18px;
}

.form__submit{
    position: absolute;
    top: 34.5px;
    left: 419.5px;
    width: 42px;
    height: 42px;
    background-color: #FDC55E;
    border: none;
    border-radius: 50%;
    background-image: url("../img/search_icon_w.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.about__video{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.video__btn{
    position: relative;
    width: 52px;
    height: 52px;
    background: #FFFFFF;
    box-shadow: 0 15px 30px rgba(223, 105, 81, 0.3);
    border-radius: 50%;
    border: none;
    cursor: pointer;

    margin-left: 20px;
    margin-right: 1px;
}

.video__btn::after{
    position: absolute;
    content: "";
    background-image: url("../img/video_btn.svg");
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    top: 20px;
    left: 22px;

}

.video__description{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #686D77;
}

.preview__pictures{
    position: relative;
    z-index: 1;
    padding-left: 67px;
}

.preview__pictures::after{
    position: absolute;
    content: "";
    background-image: url(../img/Ellipse.png);
    top: 58px;
    left: 23px;
    width: 570px;
    height: 571px;
    z-index: 1;
}

.preview__pictures::before{
    position: absolute;
    content: "";
    background-image: url(../img/emoji_fire.png);
    top: -22px;
    left: 298px;
    width: 46px;
    height: 46px;
}

.pictures__card{
    position: absolute;
    display: flex;
    padding: 10.46px 13.08px;
    background-color: white;
    top: 155px;
    left: 10px;
    width: 170px;
    height: 81px;
    gap: 13.27px;
    border-radius: 10px;
    z-index: 2;
}

.card__logo{
    width: 60.15px;
    height: 60.15px;
}

.card__info{
    padding: 5.83px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info__name,
.info__price{
    font-size: 12px;
    font-family: "inter", sans-serif;
    font-weight: 500;
}

.info__price{
    position: relative;
}

.info__price::before{
    position: absolute;
    content: "";
    background-image: url("../img/Rating.png");
    width: 58px;
    height: 8px;
    top: -16px;
    left: 0;
}

.pictures__customer{
    position: absolute;
    display: flex;
    align-items: center;
    background-color: white;
    top: 168px;
    left: 460px;
    width: 186px;
    height: 45px;
    gap: 1px;
    border-radius: 25px;
    z-index: 2;
}

.customer__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.text__name{
    font-size: 11px;
}

.text__rate{
    position: relative;
    font-size: 8px;
    letter-spacing: 0.03em;
}

.text__rate::after{
    position: absolute;
    content: "";
    top: 2px;
    left: -14px;
    background-image: url("../img/small_rate_star.svg");
    width: 8px;
    height: 8px;
}

.text__rate{
    margin-left: 16px;
}


.pictures__dish{
    position: absolute;
    z-index: 2;
}

.pictures__dish--1_location{
    top: 354px;
    left: -43px;
}

.pictures__dish--2_location{
    top: 505px;
    left: 127px;
}

.pictures__dish--3_location{
    top: 486px;
    left: 339px;
}

.pictures__dish--4_location{
    top: 371px;
    left: 491px;
}

.pictures__parsley{
    position: absolute;
    top: 12px;
    left: 327px;
    transform: rotate(248.1deg) scale(53%);
    z-index: 2;
}

.pictures__main{
    position: relative;
    z-index: 1;
}

.header__scroll_btn{
    border:none;
    background: none;
    margin-top: 35px;
    cursor: pointer;
}

.special-offers{
    margin-top: 84px;
    position: relative;
}

.special-offers__cards::after{
    position: absolute;
    content: "";
    background-image: url("../img/rosemary.png");
    width: 176px;
    height: 136px;
    top: 506px;
    left: 1254px;
}

.special-offers::after{
    position: absolute;
    content: "";
    background-image: url("../img/decoration1.webp");
    width: 212px;
    height: 188px;
    top: 78px;
    left: -14px;
}

.special-offers__header{
    text-align: center;

    font-weight: 700;
    font-size: 48px;
    line-height: 68px;
    text-transform: capitalize;
    color: #191919;
}

.special-offers__introduction{
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    width: 856px;

    color: #191919;
    opacity: 0.8;
}

.cards__card{
    position: relative;
    padding-top: 28px;

    width: 310px;
    background-image: url("../img/card_bg.png");
    background-position: bottom 18px left;
    background-repeat: no-repeat;
}

.card__image-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 198px;
    height: 198px;
}

.card__image-container::after{
    position: absolute;
    content: "";
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    top: -27px;
    left: -27px;
    background-image: url("../img/card_ellipse.png");
}

.card__price{
    position: absolute;
    display: flex;
    width: 60px;
    height: 60px;
    top: 175px;
    left: 181px;
    background-color: #FDC55E;
    border-radius: 50%;
    border: white 4px solid;

    align-items: center;
    justify-content: center;

}

.price__number{
    color: white;
    font-size: 18px;
    padding-bottom: 5px
}

.rating__avatar-container {
    position: relative;
    width: 38px;
    height: 38px;
    border-radius: 19px;
    overflow: hidden;
    border: white 2px solid;
}

.rating__avatar-container:not(:first-of-type) {
    margin-left: -62px;
}

.card__rating{
    position: relative;
    margin-top: 34px;
    padding-left: 77px;
    padding-right: 79px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating__avatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rating__avatar--1{
    background-image: url(../img/user_awatar1.png);
}

.rating__avatar--2{
    background-image: url(../img/user_awatar2.png);
}

.rating__avatar--3{
    background-image: url(../img/user_awatar3.png);
}

.rating__rate{
    font-size: 18px;
}

.rating__rate::after{
    position: absolute;
    content: "";
    top: 8px;
    left: 162px;
    background-image: url("../img/rate_star.png");
    width: 24px;
    height: 22px;
}



.card__title{
    margin-top: 32px;
    font-family: 'Sofia Pro', sans-serif;

    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;

    color: #F54748;
}

.card__description{
    margin-top: 12px;
    margin-left: 40px;
    margin-right: 40px;

    font-family: 'Sofia Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;

    color: #191919;
    opacity: 0.8;

}

.card__order-btn{
    display: flex;
    font-family: 'Sofia Pro', sans-serif ;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding: 10px 21px;
    border: none;
    background: #F54748;
    border-radius: 100px;
    color: #FFFFFF;
}

.special-offers__cards{
    position: relative;
    margin-top: 69px;
    display: flex;
    gap: 20px;
}

.food-item-img{
    height: 198px;
    width: 198px;
}

.container-food{
    border-radius: 50%;
    height: 198px;
    width: 198px;
    overflow: hidden;
}

.about{
    margin-top: 348px;
}

.picture__container{
    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "br tr"
                            "bl tl";
    gap: 8px;
    overflow: hidden;

    border-radius: 50%;
    width:448px;
    height: 448px;

}

.picture__background-top-left{
    grid-area: tl;
}

.picture__background-top-left{
    grid-area: tr;
}

.picture__background-top-left{
    grid-area: bl;
}

.picture__background-top-left{
    grid-area: br;
}

.picture__chef{
    position: absolute;
    top: -104px;
    left: -4px;
}

.picture__background-and-chef{
    position: relative;
}

.picture__ellipse{
    position: absolute;
    top: -40px;
    left: -38px;
}











@media screen and (max-width: 1440px) {

    :root{
        --container_width: 300px;
        --container_padding: 15px;
    }

}